@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;600&family=Lora:ital@0;1&family=Montserrat:wght@300;400;600;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

#root {
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

i {
  font-family: sans-serif !important;
}