@import "./theme.scss";

$card-width: 200px;

.projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: $navy_dark;

    * {
        color: $navy_dark;
    }
}

.title {
    color: $navy_dark !important;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid {
    margin-top: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 4px;
    row-gap: 4px;

    .projectCard {
        background: #ff990035;
        height: 240px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 250ms linear;
        box-shadow: 0px 0px 2px #ff9900;
        border: 1px solid #ff9900;
        cursor: pointer;

        &:hover {
            background-color: #ff990060;
            box-shadow: 0px 0px 16px #ff9900;
        }

        .card_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 16px;

            .title {
                font-weight: bold;
                font-size: 21px;
                margin-bottom: 8px;
                text-align: center;
            }

            .comment {
                font-size: 14px;
                color: $navy_dark;
                text-align: center;
            }
        }

        * {
            color: white;
        }
    }
}

.projectCreate {
    box-shadow: 0px 0px 2px $navy_dark !important;
    border: 1px solid $navy_dark !important;
    background: $navy_dark !important;

    .title {
        display: none;
        transition: all 250ms linear;
    }

    &:hover {
        background-color: $navy !important;
        border: 1px solid $navy !important;
        box-shadow: 1px 1px 16px $blue;
        color: $white !important;

        * {
            color: $white !important;
        }

        .title {
            display: block;
        }
    }
}

@media screen and (min-width: 640px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 8px;
        row-gap: 8px;
    }
}

@media screen and (min-width: 760px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        row-gap: 16px;
    }
}

@media screen and (min-width: 840px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 24px;
    }
}
